
  <nav class="row navbar navbar-expand-lg navbar-light fixed w-75">
    <div class="col-1">
      <a class="navbar-brand" href="#">Dtox</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>


    <div class="col-11 collapse navbar-collapse d-flex" id="navbar">
      <ul class="navbar-nav ml-auto w-100 justify-content-center ">
        <li class="nav-item">
          <a class="nav-link text-body" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="">Contact</a>
        </li>
      </ul>
      <a class="btn btn-primary btn-lg ml-lg-3 primary-shadow" href="">Try Free</a>
    </div>
  </nav>
